<p>
  images index files (GET /rmce_uploadr/images)
</p>

<ul>
  <% @images.each do |image| %>
    <li><img src="<%= image.data.url(:thumb) %>" 
             data-src-original="<%= image.data.url(:original) %>" 
             width="100" height="100" class="srcimage"/></li>
  <% end %>
</ul>
