<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>RMce Uploadr</title>
    <script type="text/javascript" charset="utf-8" src="/javascripts/rmce_uploadr.js"></script>
  </head>
  <%= yield %>
</html>
