<p>
  <label for="title">Title</label><br/>
  <input type="text" id="title" name="post[title]" value="<%= post.title %>" size="40"/>
</p>

<p>
  <label for="body">Body</label><br/>
  <textarea id="body" name="post[body]" cols="80" rows="30"><%= post.title %></textarea>
</p>
